# Ignore everything except Python source and required files
*
!*/
!*.py
!.gitignore

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# MacOS
.DS_Store

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# NB: anything non-Python file gets excluded by default from tracking
